ul {
  list-style: none;
  padding: 0;
}

.carInfoText {
  width: 488px;
}

.nameYearDiv {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}

.nameYearDiv h4 {
  font-size: 24px;
  margin: 0;
}

.nameYearDiv p {
  color: #8d929a;
  font-size: 12px;
  margin: 0;
}

.cityMileageDiv {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.cityMileageDiv p {
  margin: 0;
}

.locationP {
  display: flex;
  align-items: center;
}

.rentalPriceP {
  font-size: 24px;
  color: #3470ff;
  margin: 0 0 32px 0;
}

.descriptionP {
  font-size: 16px;
  margin: 0 0 68px 0;
}

.conditionsList {
  margin-bottom: 110px;
}

.conditionsList h3 {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.conditionsList li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
