.favList {
  padding: 30px 100px 30px;
}

.favList button {
  width: 136px;
  height: 40px;
  border: 1px solid #3470ff;
  font-size: 16px;
  color: #101828;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  margin-bottom: 30px;
}
